@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  word-wrap: break-word;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  outline: none; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.icon {
  display: inline-block;
  vertical-align: middle; }

.icon--search,
.icon--cart {
  padding-right: 25px;
  opacity: 0.2;
  fill: #000000; }

.icon--interior,
.icon--toy {
  fill: #149080;
  opacity: 0.5; }

.icon--feature-flower {
  margin-top: 5px;
  margin-bottom: 17px;
  margin-left: 8px; }

.icon--feature-money {
  margin-top: 5px;
  margin-bottom: 28px; }

.icon--feature-heart {
  margin-top: 7px;
  margin-left: 7px;
  margin-bottom: 22px; }

.icon--feature-ball {
  margin-top: 5px;
  margin-left: 3px;
  margin-bottom: 19px; }

.icon--feature-rocket {
  margin-top: 6px;
  margin-bottom: 29px;
  margin-left: -6px; }

.icon--feature-gift {
  margin-top: 6px;
  margin-bottom: 20px;
  margin-left: 3px; }

.icon--htmlacademy {
  fill: #63d1bb; }

.icon--catalog-cart {
  opacity: 0.2; }

.icon--video {
  padding: 5px 24px 0 3px;
  fill: #63d1bb; }

.icon--mail,
.icon--phone {
  position: absolute;
  opacity: 0.2; }

.icon--phone {
  right: 8px;
  bottom: 47px; }

.icon--mail {
  right: 3px;
  bottom: 36px; }

@media (min-width: 768px) {
  .icon--feature-flower {
    margin-top: 2px; }
  .icon--video {
    margin-top: -4px;
    padding: 0 15px 0 0; }
  .icon--phone {
    right: 25px;
    bottom: 17px; }
  .icon--mail {
    right: 22px;
    bottom: 9px; }
  .icon--interior {
    margin-right: -8px; } }

@media (min-width: 1150px) {
  .icon--phone {
    right: 8px;
    bottom: 17px; }
  .icon--mail {
    right: 4px;
    bottom: 9px; } }

.main-nav {
  position: relative;
  color: #000000; }

.main-nav__toggle {
  padding: 0;
  position: absolute;
  z-index: 5;
  font-size: 0;
  border: none;
  cursor: pointer; }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.main-nav__item {
  margin: 0;
  padding: 0 30px;
  border-bottom: 1px solid #ececec;
  background-color: #ffffff; }

.main-nav__item--logo {
  display: block;
  min-height: 78px;
  border-top: 1px solid #ececec; }

.main-nav__link {
  margin: 0;
  padding: 27px 0 27px 45px;
  display: block;
  font-size: 17px;
  line-height: 24px;
  background-color: transparent;
  color: #000000;
  text-decoration: none;
  font-weight: 700; }
  .main-nav__link:hover, .main-nav__link:focus {
    opacity: 0.6; }
  .main-nav__link:active {
    opacity: 0.3; }

.main-nav__link--search,
.main-nav__link--cart {
  padding-left: 0; }

.main-nav__item--logo a {
  padding: 22px 0 15px 86px;
  text-align: center; }

.main-nav__link:hover .icon--search,
.main-nav__link:focus .icon--search,
.main-nav__link:hover .icon--cart,
.main-nav__link:focus .icon--cart {
  fill: #63d1bb;
  opacity: 1; }

.main-nav__link:active .icon--search,
.main-nav__link:active .icon--cart {
  fill: #63d1bb;
  opacity: 0.3; }

@media (max-width: 767px) {
  .main-nav--opened .main-nav__toggle {
    right: 22px;
    top: 18px;
    width: 40px;
    height: 40px;
    background: transparent url("../img/icon-menu-close.svg") no-repeat center center;
    background-size: 20px; }
  .main-nav--closed .main-nav__toggle {
    width: 40px;
    height: 40px;
    top: 19px;
    right: 21px;
    background: #ffffff url("../img/icon-menu-open.svg") no-repeat center center; }
  .main-nav--closed .main-nav__item:not(:first-child) {
    display: none; }
  .main-nav--opened .main-nav__list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2; }
  .main-nav--opened ~ .intro {
    padding-top: 80px; }
  .main-nav--nojs .main-nav__toggle {
    display: none; }
  .main-nav--nojs .main-nav__list {
    position: static; }
  .main-nav--nojs .main-nav__item {
    display: block; }
  .main-nav .main-nav__item--new,
  .main-nav .main-nav__item--sale {
    display: none; } }

@media (min-width: 768px) {
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 2;
    padding: 0 50px; }
  .main-nav__toggle {
    display: none; }
  .main-nav__item {
    padding: 0;
    background-color: transparent;
    border: none; }
  .main-nav__link {
    margin: 0;
    padding: 18px 0;
    font-size: 15px;
    line-height: 24px; }
  .main-nav__item--logo {
    width: 40%;
    margin-left: -2px;
    margin-right: auto; }
  .main-nav__item--logo a {
    padding-left: 0; }
  .main-nav__item--catalog,
  .main-nav__item--form {
    z-index: 1;
    width: 25%;
    text-align: left; }
  .main-nav__item--catalog {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .main-nav__item--form {
    margin-right: auto;
    margin-left: 0;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5; }
  .main-nav__item--search {
    width: 18px;
    padding: 0 32px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec; }
  .main-nav__link--search {
    padding: 35px 0;
    margin-right: 0;
    font-size: 0;
    line-height: 0;
    background-position: 1px 36px; }
  .main-nav__item--cart {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 266px;
    margin-right: 0;
    text-align: right; }
  .main-nav__link--cart {
    padding: 31px 0;
    background-position: 31px 34px;
    font-size: 17px;
    line-height: 24px; }
  .main-nav__link--cart .icon {
    padding-right: 32px;
    padding-bottom: 2px; }
  .main-nav__item--new,
  .main-nav__item--sale {
    display: none; } }

@media (min-width: 1000px) {
  .main-nav__item--logo {
    width: 60%; } }

@media (min-width: 1150px) {
  .main-nav {
    max-width: 1150px;
    margin: 0 auto; }
  .main-nav__item--catalog {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 184px;
    border-right: 1px solid #ececec; }
  .main-nav__item--form {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 265px; }
  .main-nav__item--logo {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 150px;
    margin: 0;
    margin-right: 100px; }
  .main-nav__item--search {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .main-nav__item--cart {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5; }
  .main-nav__item--new {
    z-index: 1;
    display: block;
    width: 185px;
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6; }
  .main-nav__item--sale {
    margin-right: auto;
    margin-left: 0;
    z-index: 1;
    display: block;
    width: 185px;
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7; }
  .main-nav__link {
    padding: 32px 0 26px;
    font-size: 17px;
    line-height: 24px; }
  .main-nav__link--search {
    padding: 37px 0 33px;
    font-size: 0;
    line-height: 0;
    background-position: 1px 36px; }
  .main-nav__item--new a,
  .main-nav__item--sale a {
    padding: 18px 0;
    font-size: 15px;
    line-height: 24px; }
  .main-nav__item--sale a {
    padding-left: 35px; }
  .main-nav__item--form a {
    padding-left: 35px; }
  .main-nav__item--logo a {
    padding: 8px 0 6px; } }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  line-height: 0; }

.logo--header[href]:focus,
.logo--header[href]:hover {
  opacity: 0.6; }

.logo--header[href]:active {
  opacity: 0.3; }

.logo--header img {
  width: 86px;
  height: auto; }

.logo--footer[href]:hover .icon,
.logo--footer[href]:focus .icon {
  fill: #46c1ae; }

.logo--footer[href]:active .icon {
  fill: #46c1ae;
  opacity: 0.3; }

@media (min-width: 768px) {
  .logo--header img {
    width: 113px; } }

@media (min-width: 1150px) {
  .logo--header img {
    width: 149px; } }

.intro {
  width: 100%;
  min-height: 176px;
  background-color: #f1f1f1; }

.intro__info {
  display: none; }

.intro--index {
  min-height: 282px;
  background-color: #fafafa;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -18px; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .intro--index {
      background-image: url("../img/hero-mobile@2x.jpg");
      background-size: auto 372px; } }

.intro__title {
  padding: 0;
  padding-top: 70px;
  margin: 0 auto;
  width: 260px;
  font-size: 27px;
  line-height: 30px;
  text-align: center; }

@media (min-width: 768px) {
  .intro {
    position: relative;
    min-height: 225px;
    margin-top: -60px; }
  .intro--index {
    min-height: 627px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: center 0;
    background-size: auto; }
  .intro__info {
    display: block;
    margin: 0 50px 0 0;
    padding-top: 17px;
    text-align: right;
    color: #444444;
    font-size: 15px;
    line-height: 24px;
    border-top: 1px solid #ececec; }
  .intro__title {
    padding-top: 0;
    margin: 55px auto;
    width: 600px;
    font-size: 43px;
    line-height: 50px; }
  .intro--index .intro__title {
    margin: 113px auto 0;
    padding-right: 5px; }
  .intro--inner::after {
    position: absolute;
    left: 0;
    bottom: -5px;
    z-index: 10;
    width: 100%;
    height: 15px;
    content: "";
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: 100%; } }

@media (min-width: 1150px) {
  .intro {
    margin-top: -60px; }
  .intro--index {
    min-height: 627px;
    background-image: url("../img/hero-desktop@1x.jpg"); }
  .intro__info {
    max-width: 1050px;
    padding: 17px 50px 0;
    margin: 0 auto; }
  .intro__title {
    width: 800px;
    font-size: 53px;
    line-height: 57px; }
  .intro--index .intro__title {
    margin: 112px auto 0;
    padding: 0; }
  .intro--inner {
    min-height: 253px; }
  .intro--inner::after {
    bottom: -17px;
    height: 34px; }
  .intro--inner .intro__title {
    margin-top: 52px; } }

.product-category__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.product-category__item:nth-child(2) .product-category__link {
  background-color: #56c3b2; }
  .product-category__item:nth-child(2) .product-category__link:hover, .product-category__item:nth-child(2) .product-category__link:focus, .product-category__item:nth-child(2) .product-category__link:active {
    background-color: #46c1ae; }

.product-category__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 30px 16px 28px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  background-color: #63d1bb; }
  .product-category__link:hover, .product-category__link:focus, .product-category__link:active {
    margin-top: -5px;
    padding-bottom: 21px;
    background-color: #59d5bc; }

.product-category__name {
  display: block;
  width: 130px;
  font-size: 19px;
  line-height: 24px; }

.product-category__link:active .product-category__name {
  opacity: 0.3; }

.product-category__link:hover .icon--interior,
.product-category__link:hover .icon--toy,
.product-category__link:focus .icon--interior,
.product-category__link:focus .icon--toy {
  opacity: 0.7; }

.product-category__link:active .icon--interior,
.product-category__link:active .icon--toy {
  opacity: 0.3; }

@media (min-width: 768px) {
  .product-category {
    position: relative;
    background-color: #fafafa;
    overflow: hidden; }
  .product-category::after {
    position: absolute;
    z-index: 5;
    left: 0;
    bottom: -23px;
    width: 100%;
    height: 34px;
    content: "";
    background-image: url("../img/bg-zigzag-fill.svg");
    background-size: contain;
    background-repeat: repeat-x; }
  .product-category__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 50px; }
  .product-category__item {
    width: 50%; }
  .product-category__link {
    padding: 29px 35px 27px; }
    .product-category__link:hover, .product-category__link:focus, .product-category__link:active {
      padding-bottom: 32px; }
  .product-category__name {
    font-size: 20px;
    line-height: 30px; }
  .product-category__description {
    font-size: 17px;
    line-height: 30px; } }

@media (min-width: 1150px) {
  .product-category__list {
    width: 1050px;
    margin: 0 auto;
    padding: 0 50px; }
  .product-category::after {
    bottom: -17px;
    background-size: auto; } }

.btn {
  display: block;
  padding: 14px;
  color: #444444;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #444444;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .btn:hover, .btn:focus {
    color: #ffffff;
    background-color: #464646; }
  .btn:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #464646; }

.product-week {
  position: relative;
  padding: 0 30px 7px; }

.product-week::after {
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 7px;
  content: "";
  background-image: url("../img/bg-zigzag-line.svg");
  background-size: auto 7px; }

.product-week__header {
  margin-top: 27px;
  margin-bottom: 23px; }

.product-week__title {
  margin: 0;
  padding-bottom: 5px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700; }

.product-week__promo {
  display: block;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb; }

.product-week__description {
  margin: 0;
  margin-bottom: 18px;
  color: #444444; }

.product-week__table {
  border-collapse: collapse;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 28px;
  color: #444444; }

.product-week__content {
  margin-bottom: 20px; }

.product-week__label,
.product-week__value {
  padding: 9px 0 10px;
  border-bottom: 1px solid #ececec; }

.product-week__label {
  width: 98px; }

.product-week__value {
  width: 162px; }

.product-week__image {
  margin-bottom: 18px; }

.product-week__image img {
  width: 100%; }

.product-week__footer {
  margin-bottom: 36px;
  text-align: center; }

.product-week__price {
  display: block;
  margin-bottom: 26px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #444444; }

.product-week__btn {
  margin-bottom: 30px; }

@media (min-width: 768px) {
  .product-week {
    padding: 0 50px 17px; }
  .product-week::after {
    height: 17px;
    background-size: auto 17px; }
  .product-week__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 45px;
    margin-bottom: 50px; }
  .product-week__title {
    margin: 0;
    padding: 0;
    font-size: 43px;
    line-height: 50px; }
  .product-week__content {
    width: 290px;
    margin-bottom: 55px; }
  .product-week__description {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 37px; }
  .product-week__promo {
    width: 125px;
    margin-top: 10px;
    text-align: center; }
  .product-week__image {
    position: absolute;
    top: 107px;
    right: 51px; }
  .product-week__table {
    width: 100%; }
  .product-week__label,
  .product-week__value {
    padding: 8px 0 11px; }
  .product-week__label {
    width: 33%; }
  .product-week__footer {
    width: 290px;
    margin-bottom: 52px; }
  .product-week__price {
    margin-bottom: 34px;
    font-size: 20px;
    line-height: 24px; } }

@media (min-width: 1150px) {
  .product-week {
    position: relative;
    width: 875px;
    margin: 0 auto;
    padding: 48px 0 23px 175px; }
  .product-week::after {
    height: 23px;
    background-size: auto; }
  .product-week__header {
    margin-top: 76px; }
  .product-week__title {
    margin-left: -3px;
    font-size: 53px;
    line-height: 57px; }
  .product-week__promo {
    position: absolute;
    top: 130px;
    left: 20px; }
  .product-week__image {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 72px; }
  .product-week__description {
    margin-bottom: 49px; }
  .product-week__table {
    width: 292px;
    margin-bottom: 107px; }
  .product-week__label,
  .product-week__value {
    padding: 7px 0 12px; }
  .product-week__label {
    width: 33%; }
  .product-week__footer {
    margin-bottom: 72px; }
  .product-week__price {
    margin-bottom: 35px; } }

.advantages {
  margin: 0 auto;
  padding: 0 30px 30px; }

.advantages__title {
  margin: 0;
  padding: 26px 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700; }

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.advantages__item {
  display: block;
  padding-bottom: 25px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700; }

.advantages__item .icon {
  display: block;
  fill: #63d1bb; }

@media (min-width: 768px) {
  .advantages {
    padding: 0 50px 30px; }
  .advantages__title {
    margin-left: -5px;
    padding: 50px 0 45px;
    font-size: 43px;
    line-height: 50px; }
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .advantages__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 101px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 10%;
    margin-bottom: 28px;
    width: 40%;
    font-size: 20px;
    line-height: 22px; }
  .advantages__item .icon {
    margin-bottom: 0; }
  .advantages__item--eco {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .advantages__item--love {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .advantages__item--style {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .advantages__item--homeland {
    width: 50%;
    padding-right: 0;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .advantages__item--like {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5; }
  .advantages__item--gift {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6; } }

@media (min-width: 1150px) {
  .advantages {
    width: 700px;
    margin: 0 auto;
    padding-bottom: 39px; }
  .advantages__title {
    padding: 60px 0 46px;
    font-size: 53px;
    line-height: 57px; } }

.reviews {
  position: relative;
  margin: 0 auto;
  padding: 0 30px 50px; }

.reviews::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7px;
  content: "";
  color: #444444;
  background-image: url("../img/bg-zigzag-line.svg");
  background-size: auto 7px; }

.reviews__title {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700; }

.reviews__item:not(:first-child) {
  display: none; }

.reviews__item {
  margin: 0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400; }

.reviews__item p {
  margin: 0;
  color: #444444; }

.reviews__footer {
  display: block;
  padding-top: 23px;
  padding-bottom: 30px; }

.reviews__auhor-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal; }

.reviews__auhor-contact {
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #444444; }

.reviews__controls {
  margin-bottom: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: -0.25em;
  font-size: 0; }

.reviews__control-btn {
  width: 130px;
  height: 52px;
  padding: 0;
  cursor: pointer;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid #ececec; }
  .reviews__control-btn:hover, .reviews__control-btn:focus {
    opacity: 0.6; }
  .reviews__control-btn:active {
    opacity: 0.3; }

.reviews__control-btn--prev {
  border-right: none;
  background-image: url("../img/icon-left-arrow.svg"); }

.reviews__control-btn--next {
  background-image: url("../img/icon-right-arrow.svg"); }

@media (min-width: 768px) {
  .reviews {
    padding: 78px 50px 100px;
    position: relative;
    background: #ffffff url("../img/review@1x.jpg") no-repeat 0 0; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .reviews {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto; } }

@media (min-width: 768px) {
  .reviews::after {
    height: 17px;
    background-size: auto 17px; }
  .reviews__title {
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px; }
  .reviews__item {
    font-size: 17px;
    line-height: 30px; }
  .reviews__footer {
    padding-top: 56px; }
  .reviews__auhor-name {
    display: block;
    margin-bottom: 4px; }
  .reviews__controls {
    position: absolute;
    margin: 0;
    right: 55px;
    bottom: 130px; }
  .reviews__control-btn {
    width: 84px;
    border: 0; }
  .reviews__btn {
    position: absolute;
    width: 175px;
    top: 80px;
    right: 50px; } }

@media (min-width: 1150px) {
  .reviews {
    width: 875px;
    padding: 70px 0 185px 175px;
    border-width: 25px; }
  .reviews::after {
    height: 23px;
    background-size: auto; }
  .reviews__title {
    margin-bottom: 49px;
    font-size: 53px;
    line-height: 57px; }
  .reviews__item {
    padding-right: 75px; }
  .reviews__footer {
    padding-top: 40px;
    padding-bottom: 0; }
  .reviews__controls {
    right: -3px;
    width: 175px;
    bottom: 163px; }
  .reviews__btn {
    top: 80px;
    right: 0; } }

.contacts {
  margin: 0 auto;
  padding: 35px 0 0; }

.contacts__wrapper {
  padding: 0 30px 7px; }

.contacts__title {
  margin: 0;
  padding: 0 30px 27px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700; }

.contacts__item {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px; }

.contacts__label {
  margin-right: 30px; }

.contacts__link {
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #62d1ba; }

.contacts__text {
  margin: 0; }

.contacts__map {
  position: relative;
  margin-bottom: 35px; }

.contacts__map iframe {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 457px;
  border: none; }

.contacts__map-point {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-35%, -85%);
          transform: translate(-35%, -85%);
  z-index: 3; }

.contacts__btn {
  margin: 0 30px 39px; }

@media (min-width: 768px) {
  .contacts {
    padding: 62px 0 57px; }
  .contacts__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 50px; }
  .contacts__title {
    position: relative;
    padding: 0 50px;
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px; }
  .contacts__title::before {
    position: absolute;
    right: 53px;
    bottom: -17px;
    width: 47px;
    height: 81px;
    content: "";
    background-image: url("../img/icon-flag.svg"); }
  .contacts__item {
    width: 50%;
    font-size: 17px;
    line-height: 30px; }
  .contacts__item:first-child {
    display: block; }
  .contacts__label {
    margin-right: 21px; }
  .contacts__link {
    padding-bottom: 3px; }
  .contacts__map {
    margin-top: 26px;
    margin-bottom: 50px; }
  .contacts__btn {
    margin: 0 auto;
    width: 230px; } }

@media (min-width: 1150px) {
  .contacts {
    position: relative;
    width: 875px;
    padding: 70px 0 104px 175px; }
  .contacts__title {
    margin-left: -5px;
    padding: 70px 0 48px;
    margin-bottom: 0;
    font-size: 53px;
    line-height: 57px; }
  .contacts__title::before {
    left: -107px;
    bottom: 33px; }
  .contacts__wrapper {
    display: block;
    width: 315px;
    padding: 0; }
  .contacts__item {
    width: 100%; }
  .contacts__map {
    position: absolute;
    margin: 0;
    top: 70px;
    right: 0; }
  .contacts__btn {
    margin: 0;
    margin-top: 80px; } }

.page-footer {
  background-color: #f1f1f1; }

.page-footer__wrapper {
  margin: 0 30px;
  padding: 18px 0 20px; }

.page-footer__logo {
  display: none; }

@media (min-width: 768px) {
  .page-footer {
    min-height: 143px; }
  .page-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 50px;
    padding-top: 50px; }
  .page-footer__logo {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 102px;
    margin-right: 160px; } }

@media (min-width: 1150px) {
  .page-footer__wrapper {
    width: 1050px;
    padding: 51px 50px 0;
    margin: 0 auto; }
  .page-footer__logo {
    margin-right: 350px; } }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 26px;
  border-bottom: 1px solid #e5e5e5; }

.social__link {
  font-size: 0;
  line-height: 0;
  margin-right: 40px; }
  .social__link:hover .icon,
  .social__link:focus .icon {
    fill: #46c1ae;
    -webkit-transform-origin: 100%;
            transform-origin: 100%; }
  .social__link:active .icon {
    fill: #46c1ae;
    opacity: 0.3; }

.social__link:last-child {
  margin-right: 0; }

@media (min-width: 768px) {
  .social {
    padding: 4px 0 0;
    margin-right: auto;
    border: none; } }

.copyright {
  margin-top: 18px;
  font-size: 19px;
  line-height: 38px;
  font-weight: 700;
  text-align: center; }

.copyright__link {
  text-decoration: none;
  color: #000000; }
  .copyright__link:active {
    opacity: 0.3; }
  .copyright__link:hover .icon,
  .copyright__link:focus .icon,
  .copyright__link:active .icon {
    fill: #46c1ae; }

.copyright__text {
  padding-right: 25px; }

@media (min-width: 768px) {
  .copyright {
    width: 185px;
    margin: 2px 0 0;
    text-align: left; } }

@media (min-width: 1150px) {
  margin: 0; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 6; }

.overlay--show {
  display: block; }

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  margin: 0;
  padding: 35px 0 45px;
  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  -webkit-box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
          box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25); }

.modal--show {
  display: block; }

.modal__title {
  display: block;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 30px;
  color: #000000; }

.modal__form {
  margin: 0 auto;
  padding: 0;
  width: 260px; }

.modal__caption {
  width: 100%;
  display: block;
  margin: 0;
  padding: 18px 0;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  text-align: center; }

.modal__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.modal__input {
  display: none; }

.modal__label {
  font-size: 17px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #444444;
  width: 78px;
  height: 48px;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid rgba(68, 68, 68, 0.1);
  cursor: pointer; }

.modal__input:hover + .modal__label,
.modal__input:focus + .modal__label {
  border-color: rgba(68, 68, 68, 0.3); }

.modal__input:checked + .modal__label {
  border-color: #62d1ba; }

.modal__btn {
  width: 260px;
  margin: 30px auto 0;
  color: #ffffff;
  background-color: #63d1bb;
  border: none; }

@media (min-width: 768px) {
  .modal {
    width: 564px;
    padding-top: 36px; }
  .modal__title {
    font-size: 30px;
    line-height: 57px; }
  .modal__form {
    width: 350px; }
  .modal__caption {
    font-size: 17px;
    line-height: 30px; }
  .modal__label {
    width: 108px; }
  .modal__btn {
    width: 350px; } }

.catalog {
  max-width: 1050px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .catalog {
    overflow: hidden;
    padding: 24px 50px 0; } }

@media (min-width: 1150px) {
  .catalog {
    padding-top: 75px;
    padding-bottom: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; } }

.catalog-item {
  margin: 30px; }

.catalog-item__link {
  margin: 0;
  padding: 0;
  width: 260px;
  height: 195px;
  font-size: 0;
  line-height: 0; }

.catalog-item__img {
  display: block;
  width: 100%;
  height: auto;
  font-size: 0;
  line-height: 0; }

.catalog-item__img img {
  width: 100%; }

.catalog-item__description {
  border: 1px solid #ececec; }

.catalog-item:hover > .catalog-item__description,
.catalog-item:focus > .catalog-item__description {
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); }

.catalog-item:active > .catalog-item__description {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }

.catalog-item__header {
  margin: 0 27px;
  padding-top: 26px;
  padding-bottom: 23px;
  border-bottom: 1px solid #ececec; }

.catalog-item__name {
  display: block;
  margin-bottom: 7px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  background-color: #ffffff;
  color: #000000; }

.catalog-item__name:hover,
.catalog-item__name:focus {
  opacity: 0.6; }

.catalog-item__name:active {
  opacity: 0.3; }

.catalog-item__text {
  font-size: 13px;
  line-height: 1.4em;
  font-weight: 400;
  background-color: #ffffff;
  color: #444444;
  text-align: center; }

.catalog-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 21px 27px 27px; }

.catalog-item__price {
  display: block;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  background-color: #ffffff;
  color: #000000; }

.catalog-item__btn {
  display: block;
  width: 20px;
  height: 22px;
  font-size: 0;
  line-height: 0;
  cursor: pointer; }

.catalog-item__btn:hover .icon,
.catalog-item__btn:focus .icon {
  fill: #63d1bb;
  opacity: 1; }

.catalog-item__btn:active .icon {
  fill: #63d1bb;
  opacity: 0.3; }

@media (min-width: 768px) {
  .catalog-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    margin-bottom: 54px; }
  .catalog-item:last-child {
    margin-bottom: 53px; }
  .catalog-item__img {
    width: 50%;
    min-height: 195px; }
  .catalog-item__description {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 26px 32px 25px 25px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .catalog-item__header {
    margin: 0;
    padding-top: 0;
    border-bottom: none; }
  .catalog-item__name {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px; }
  .catalog-item__text {
    font-size: 15px; }
  .catalog-item__footer {
    margin: 0;
    padding-top: 23px;
    border-top: 1px solid #ececec; }
  .catalog-item__price {
    padding-left: 5px;
    font-size: 17px; } }

@media (min-width: 1150px) {
  .catalog-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 316px;
    margin-right: 51px; }
  .catalog-item:nth-child(3n) {
    margin-right: 0; }
  .catalog-item__img {
    width: 100%; }
  .catalog-item__description {
    padding-top: 25px;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .catalog-item__header {
    padding-bottom: 18px; }
  .catalog-item__name {
    margin-bottom: 8px; }
  .catalog-item__footer {
    padding-top: 22px; }
  .catalog-item__price {
    padding-left: 0; } }

.production {
  margin: 0 30px 58px; }

.production__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 30px;
  border: 1px solid #ececec;
  border-bottom: none; }

.production__title {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  background-color: #ffffff;
  color: #000000; }

.production__player {
  position: relative;
  display: block;
  min-height: 150px;
  font-size: 0;
  line-height: 0; }

.production__player img {
  display: block;
  width: 100%;
  height: auto; }

.production__player-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  width: 102px;
  height: 78px;
  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  border: none;
  font-size: 0;
  outline: none;
  cursor: pointer; }
  .production__player-btn:hover, .production__player-btn:focus {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2); }
  .production__player-btn:active {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3; }

.production__content {
  padding: 27px 33px 32px;
  border: 1px solid #ececec;
  border-top: none; }

.production__content:hover,
.production__content:focus {
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); }

.production__content:active {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }

.production__info {
  margin: 0;
  padding-bottom: 25px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  background-color: #ffffff;
  color: #444444; }

@media (min-width: 768px) {
  .production {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 50px;
    margin-bottom: 63px; }
  .production__player {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    min-height: 450px;
    background-color: #ececec; }
  .production__header {
    padding: 38px 40px 0; }
  .production__title {
    font-size: 20px;
    line-height: 24px; }
  .production__content {
    padding: 29px 40px 45px; }
  .production__info {
    font-size: 15px;
    line-height: 30px;
    padding-bottom: 35px; } }

@media (min-width: 1150px) {
  .production {
    position: relative;
    width: 1050px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 105px; }
  .production__player {
    position: absolute;
    top: 0;
    left: 0;
    width: 680px;
    height: 455px;
    background-color: #ececec; }
  .production__header {
    padding: 0;
    padding-top: 45px;
    display: block;
    width: 230px;
    padding-left: 80px;
    padding-right: 58px;
    margin-left: auto; }
  .production__title {
    margin: 0;
    padding-top: 23px; }
  .production__content {
    width: 230px;
    padding-top: 33px;
    padding-left: 80px;
    padding-bottom: 60px;
    padding-right: 58px;
    margin-left: auto; }
  .production__info {
    padding-bottom: 45px; } }

.order-form {
  margin: 0 30px; }

.order-form__promo-text {
  margin: 0;
  padding: 22px 0 23px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  background-color: #ffffff;
  color: #444444; }

.order-form__group {
  padding: 0;
  margin: 0 0 4px;
  border: none; }

.order-form__group--color {
  margin-bottom: 16px; }

.order-form__group--name {
  margin-bottom: 11px; }

.order-form__title {
  position: relative;
  display: block;
  margin: 0;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase; }

.order-form__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 76%;
  height: 1px;
  background-color: #63d1bb; }

.order-form__wrapper {
  padding: 25px 0; }

.order-form__group--name .order-form__wrapper {
  padding-bottom: 0; }

.order-form__group--contact .order-form__wrapper {
  padding: 0; }

.order-form__set {
  display: block; }

.order-form__group--contact .order-form__set {
  position: relative; }

.order-form__radio,
.order-form__checkbox {
  display: none; }

.order-form__radio:checked + .order-form__radio-value::after {
  display: block; }

.order-form__radio-value,
.order-form__checkbox-value {
  position: relative;
  display: block;
  padding-left: 63px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  cursor: pointer;
  text-transform: none; }

.order-form__radio-value {
  padding-top: 8px;
  padding-bottom: 15px; }
  .order-form__radio-value::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    border: 2px solid #444444;
    border-radius: 50%; }
  .order-form__radio-value::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    width: 15px;
    height: 15px;
    background-color: #62d1ba;
    border-radius: 50%;
    display: none; }

.order-form__set:last-child .order-form__checkbox-value {
  padding-bottom: 0; }

.order-form__checkbox-value {
  padding-top: 10px;
  padding-bottom: 33px; }
  .order-form__checkbox-value::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 36px;
    height: 35px;
    border: 2px solid #444444; }
  .order-form__checkbox-value::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 9px;
    width: 20px;
    height: 8px;
    border-left: 2px solid #000000;
    border-bottom: 2px solid #000000;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: transparent;
    display: none; }

.order-form__checkbox:checked + .order-form__checkbox-value::after {
  display: block; }

.order-form__radio:hover + .order-form__radio-value::before,
.order-form__radio:focus + .order-form__radio-value::before,
.order-form__checkbox:hover + .order-form__checkbox-value::before,
.order-form__checkbox:focus + .order-form__checkbox-value::before {
  border-color: #63d1bb; }

.order-form__radio:active + .order-form__radio-value::before,
.order-form__checkbox:active + .order-form__checkbox-value::before {
  border-color: #444444;
  opacity: 0.3; }

.order-form__text-value {
  padding-top: 3px;
  display: block;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  background-color: #ffffff;
  color: #000000;
  text-transform: none; }

.order-form__text-field,
.order-form__number-field,
.order-form__email-field {
  width: 100%;
  padding: 17px 0;
  margin-bottom: 19px;
  font-size: 17px;
  line-height: 18px;
  color: #444444;
  border: none;
  -webkit-box-shadow: inset 0 -2px 0 #000000;
          box-shadow: inset 0 -2px 0 #000000;
  outline: none; }
  .order-form__text-field:hover, .order-form__text-field:focus, .order-form__text-field:active,
  .order-form__number-field:hover,
  .order-form__number-field:focus,
  .order-form__number-field:active,
  .order-form__email-field:hover,
  .order-form__email-field:focus,
  .order-form__email-field:active {
    -webkit-box-shadow: inset 0 -2px 0 #62d1ba;
            box-shadow: inset 0 -2px 0 #62d1ba; }
  .order-form__text-field::-webkit-input-placeholder,
  .order-form__number-field::-webkit-input-placeholder,
  .order-form__email-field::-webkit-input-placeholder {
    opacity: 0.3; }
  .order-form__text-field::-moz-placeholder,
  .order-form__number-field::-moz-placeholder,
  .order-form__email-field::-moz-placeholder {
    opacity: 0.3; }
  .order-form__text-field:-ms-input-placeholder,
  .order-form__number-field:-ms-input-placeholder,
  .order-form__email-field:-ms-input-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .order-form__text-field:-moz-placeholder,
  .order-form__number-field:-moz-placeholder,
  .order-form__email-field:-moz-placeholder {
    opacity: 0.3; }

.order-form__number-field {
  margin-bottom: 31px; }

.order-form__email-field {
  margin-bottom: 27px; }

.order-form__number-field,
.order-form__email-field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 23px;
  padding-right: 60px;
  background-color: transparent; }

.order-form__textarea {
  width: 85%;
  height: 108px;
  margin-top: 24px;
  padding: 15px 17px;
  font-size: 17px;
  line-height: 18px;
  color: #444444;
  border: 2px solid #444444;
  outline: none;
  resize: none; }
  .order-form__textarea:hover, .order-form__textarea:focus, .order-form__textarea:active {
    border-color: #62d1ba; }
  .order-form__textarea::-webkit-input-placeholder {
    opacity: 0.3; }
  .order-form__textarea::-moz-placeholder {
    opacity: 0.3; }
  .order-form__textarea:-ms-input-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .order-form__textarea:-moz-placeholder {
    opacity: 0.3; }

.order-form__title--email {
  padding-right: 20px; }

.order-form__footer {
  margin-bottom: 55px; }

.order-form__text {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  background-color: #ffffff;
  color: #444444; }

.order-form__number-field:hover + .icon,
.order-form__number-field:focus + .icon,
.order-form__number-field:active + .icon,
.order-form__email-field:hover + .icon,
.order-form__email-field:focus + .icon,
.order-form__email-field:active + .icon {
  fill: #63d1bb;
  opacity: 1; }

.order-form__btn {
  margin-top: 30px;
  width: 100%;
  background-color: #ffffff; }

@media (min-width: 768px) {
  .order-form {
    margin: 0; }
  .order-form__promo-text {
    margin: 0 50px;
    padding-top: 17px;
    padding-bottom: 6px;
    font-size: 17px;
    line-height: 30px; }
  .order-form__group {
    margin: 0;
    padding: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: none; }
  .order-form__group:nth-of-type(even) {
    background-color: #f1f1f1; }
  .order-form__title {
    padding-top: 17px;
    width: 167px;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .order-form__title::after {
    display: none; }
  .order-form__wrapper {
    padding: 0; }
  .order-form__set:not(:last-child) {
    margin-bottom: 23px; }
  .order-form__radio-value {
    padding: 16px 0;
    padding-left: 80px;
    font-size: 19px;
    line-height: 21px; }
    .order-form__radio-value::before {
      top: 1px;
      width: 48px;
      height: 48px; }
    .order-form__radio-value::after {
      top: 17px;
      left: 15px;
      width: 22px;
      height: 22px; }
  .order-form__checkbox-value {
    padding: 15px 0 17px;
    padding-left: 80px;
    font-size: 19px;
    line-height: 21px; }
    .order-form__checkbox-value::before {
      top: 0;
      left: 0;
      width: 50px;
      height: 48px;
      border: 2px solid #444444; }
    .order-form__checkbox-value::after {
      top: 14px;
      left: 13px;
      width: 28px;
      height: 14px; }
  .order-form__group--color .order-form__wrapper {
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .order-form__group--color .order-form__set {
    width: 47%; }
  .order-form__group--color .order-form__set:nth-child(2n+1) {
    margin-right: 5%; }
  .order-form__group--color .order-form__set:nth-child(5) {
    margin-bottom: 0; }
  .order-form__set:last-child .order-form__checkbox-value {
    padding-bottom: 17px; }
  .order-form__group--name .order-form__wrapper {
    margin-right: 0;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2; }
  .order-form__group--name .order-form__set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 1px; }
  .order-form__group--name .order-form__set:last-child {
    padding-bottom: 0;
    margin-bottom: 0; }
  .order-form__text-value {
    margin-right: 25px;
    padding: 14px 0 0;
    font-size: 19px;
    line-height: 21px; }
  .order-form__text-field,
  .order-form__number-field,
  .order-form__email-field {
    padding: 14px 0 18px 16px;
    margin: 0;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 19px;
    line-height: 20px;
    font-weight: 400; }
  .order-form__group--contact .order-form__wrapper {
    width: 100%; }
  .order-form__group--contact .order-form__set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .order-form__group--contact .order-form__set:first-child {
    margin-bottom: 24px; }
  .order-form__title--email {
    padding-right: 0; }
  .order-form__number-field {
    padding: 15px 0 17px 16px; }
  .order-form__textarea {
    margin: 0;
    padding: 13px 15px 17px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 19px;
    line-height: 20px; }
  .order-form__footer {
    margin: 0 50px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .order-form__btn {
    margin: 3px 0 0;
    width: 230px; }
  .order-form__text {
    padding: 12px 0;
    font-size: 17px;
    line-height: 30px; } }

@media (min-width: 1150px) {
  .order-form {
    margin: 0 auto;
    width: 1150px;
    padding: 50px 0; }
  .order-form__promo-text {
    margin: 0 225px; }
  .order-form__group {
    padding: 50px; }
  .order-form__title {
    width: 115px;
    padding-left: 60px; }
  .order-form__group--color .order-form__set {
    width: 25%; }
  .order-form__group--color .order-form__set:nth-child(n) {
    margin-right: 5%; }
  .order-form__group--color {
    padding-bottom: 26px; }
  .order-form__group--name .order-form__set {
    width: 700px;
    margin-bottom: 0;
    padding-bottom: 24px; }
  .order-form__group--name .order-form__set:last-child {
    padding-bottom: 25px; }
  .order-form__group--name {
    padding-bottom: 25px; }
  .order-form__group--contact .order-form__set {
    width: 875px; }
  .order-form__textarea {
    width: 666px; }
  .order-form__footer {
    margin-top: -3px;
    margin-bottom: 0;
    padding: 0 175px; } }
