.intro {
  max-width: 860px;
  text-align: center; }

.intro__title {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px; }

.intro__description {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 30px; }

.intro__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.intro__input {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  line-height: 30px;
  height: 50px;
  text-align: center;
  border-radius: 5px;
  border: 2px transparent;
  border-style: solid; }
  .intro__input:hover {
    border-color: #6ddf4c; }
  .intro__input:focus {
    border-color: #07df11; }

.intro__button {
  margin-top: 50px;
  width: 90px;
  height: 90px;
  cursor: pointer;
  display: block;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  line-height: 60px;
  color: #ffffff;
  background-color: #2edf29;
  border-width: 0;
  border-radius: 45px; }
  .intro__button:enabled:hover {
    background-color: #2edf29; }
  .intro__button:active {
    background-color: #07df11; }
  .intro__button:disabled {
    background-color: #84c681; }

.game__content {
  display: flex;
  flex-direction: column; }

.game__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; }

.game__table {
  max-width: 75vw;
  font-size: 0;
  line-height: 0; }

.game__cell {
  box-sizing: border-box;
  display: inline-block;
  width: 2.5vw;
  height: 2.5vw;
  border: 1px solid #6ddf4c;
  background-color: rgba(0, 0, 0, 0.25); }

.game__cell--snake {
  background-color: white; }

.game__cell--food {
  background-color: #fdff2b; }

.game__score {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px; }

.game__level {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px; }

.game__modal {
  position: fixed;
  top: 150px;
  left: calc(50% - 250px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
  width: 500px;
  height: 300px;
  padding: 20px;
  background-color: white;
  text-align: center;
  border-radius: 20px; }

.game__modal-question {
  display: block;
  margin: 16px auto; }

.game__modal-text {
  margin: 0;
  margin-bottom: 20px; }

.game__modal-button {
  width: 140px;
  margin: 0 20px;
  padding: 6px 0;
  font: inherit;
  font-size: 20px;
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid #a8c8c4;
  border-radius: 10px;
  background-color: rgba(168, 200, 196, 0.5); }
  .game__modal-button:hover, .game__modal-button:focus {
    background-color: rgba(168, 200, 196, 0.75);
    outline: none; }
  .game__modal-button:active {
    background-color: #a8c8c4; }

.result__header {
  position: relative; }

.result__back {
  position: absolute;
  top: 0;
  left: 0; }

.result__title {
  text-align: center;
  text-transform: uppercase; }

.result__table {
  width: 670px;
  margin-bottom: 40px; }
  .result__table td {
    border: 10px solid transparent; }
  .result__table th {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    text-align: left;
    border: 10px solid transparent; }

th.result__total {
  text-align: right; }

.result__total {
  min-width: 40px;
  text-align: right; }
  .result__total--final {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px; }

html {
  min-height: 100%;
  margin: 0;
  padding: 0; }

body {
  display: flex;
  align-items: center;
  margin: 0;
  background: #6ddf4c linear-gradient(to bottom left, #7bdf69, #6ddf4c) no-repeat;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  color: #00222d;
  min-height: 100vh; }

a {
  color: #00222d; }

.central {
  max-width: 75vw;
  margin: 0 auto; }

.back {
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center; }
